/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: block;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
  margin: 33px;
}

head {
  display: none;
}

strong {
  font-weight: bold;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

p {
  display: block;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

table {
  border-collapse: separate;
  display: table;
  box-sizing: border-box;
}

th {
  display: table-cell;
  padding-bottom: 5px;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
  font-size: 13px;
}

h2 {
  display: block;
  font-size: 13px;
}

h4 {
    font-size: 13px;
    margin: 0px;
}

.comment-button　{
  position: absolute;
  padding: 1px 6px;
  border: 0px;
}